@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.ttf');
}

body {
	background-color: #F3F3F3 !important;
}

#content{
	text-align: center;
	background-color: #F3F3F3;
}

#header {   
	/*Posicion fija en la página*/
   	position: absolute; 
    /* Centrar el div */
    right: 0;
    left: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    /* Tamaño del header */
    min-height: 150px;
    width: 100%;  
   	background-image: url("../images/fondocabecera.png");   	
    background-repeat: no-repeat;     	
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
	z-index: 1;
	background-color: #F3F3F3;
}

#logo{
	position: absolute;
	top: 1px;
	left: 40px;	 
}

#calendario {
	position: absolute;
	top: 230;
	left: 130;
	width: 470px;
	height: 350px;	
	background-color: #F3F3F3;
}

#entrenamientos {
	position: absolute;
	top: 170;
	right: 130;
	width: 610px;
	height: 120px;	
	background-color: green;
	opacity: 0.5;
}

#mapas {
	position: absolute;
	top: 320;
	right: 130;
	width: 610px;
	height: 360px;	
	
}


#foote {
	display: block; 
	width: 100%;
	min-height: 30px;   
	background: #163848;
	text-align: center;
	margin-top: 45px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#copyright {
	position: relative;
	color: white;
	}


