@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.ttf');
}

#content{
	text-align: center;
}

#header {   
	/*Posicion fija en la página*/
   	position: fixed; 
    /* Centrar el div */
    right: 0;
    left: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    /* Tamaño del header */
    min-height: 150px;
    width: 100%;  
   	background-image: url("../images/fondocabecera.png");   	
    background-repeat: no-repeat;     
	opacity: 0.90; 	
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
	z-index: 1;
}

#header:hover{
	opacity: 1;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;	
}

#logo{
	position: absolute;
	top: 1px;
	left: 40px;	 
}

#header>button{
	position: relative;
	float: right;
	right: 100px;
	top: 20px;
	width: 120px;
	
}

#main {
	min-height: 738px;
	margin: 0px;
	padding: 0px;	 
	text-align: center;
}


video#bgvid {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: url(../images/imagenfondo.jpg) no-repeat;
	background-size: cover;	
}

#textoinicio{
	position: absolute;
	top: 210;
	left: 150;
	width: 550px;
	height: 400px;	
	color: white;	
		 
}

#slogan{
	font-family:Impact, Charcoal, sans-serif;
	font-size: 50px;
	text-shadow: 0px 0px 8px #2a3036;
}

#textinfo{
	font-family:Raleway;
	margin-top: 20px;
	font-size: 18px;
	text-shadow: 0px 0px 8px #2a3036;
	text-align: justify;
}

#formulario {
	position: absolute;
	top: 200;
	right: 330;
	width: 250px;
	height: 400px;
	background: #f17f43;
	opacity: 0.90;
	padding: 10px;
	border-radius: 20px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;	
}
#formulario:hover{
    box-shadow: 0px 0px 10px #0d3d56;
	opacity: 1;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;	
}
/*Pendiende
.form-group:focus  #formulario{
	box-shadow: 0px 0px 10px #0d3d56;
	opacity: 1;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
}
*/
#info {
	font-family:Raleway;
	position: relative;
	width: 100%;
	height: 580px;
	background-color: #F3F3F3;	
}

#cabecera {
	margin-top:30px;
	padding-top: 60px;
	padding-bottom: 60px;
	font-family:Raleway;
	font-size: 50px;	
}

.cuadro {
	padding: 10px;
}

.cuadro > h1 {
	padding-bottom:10px;
}

.cuadro > div{
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:20px;
	font-size: 15px;
}

#cuadro1{	
	display: inline-block;
	width: 300px;
	height: 280px;
	text-align: center;
	/*background-color: yellow;
	opacity: 0.8;*/
	
}

#cuadro2{
	display: inline-block;
	width: 300px;
	height: 280px;
	text-align: center;
	/*background-color: red;
	opacity: 0.8;*/
	margin-right: 80px;
    margin-left: 80px;
}

#cuadro3{
	display: inline-block;
	width: 300px;
	height: 280px;
	text-align: center;
	/*background-color: green;
	opacity: 0.8;*/
}

 #foote {
   display: block; 
   width: 100%;
   min-height: 150px;   
   background: #163848;
   text-align: center;
}

#redes{
	padding-top: 10px;
	color: white;
	text-shadow: 0px 0px 8px #2a3036;
	font-family:Raleway;
	font-size: 15px;
}

#redes>p{
	margin-bottom: 10px;
}

.logoredes {
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

#copyright {
	position: relative;
	top: 30px;
	color: white;
	}














