@font-face{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.ttf');
}

body {
	background-color: #F3F3F3 !important;
}

#content{
	text-align: center;
	background-color: #F3F3F3;
}

#header {   
	/*Posicion fija en la página*/
   	position: absolute; 
    /* Centrar el div */
    right: 0;
    left: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    /* Tamaño del header */
    min-height: 150px;
    width: 100%;  
   	background-image: url("../images/fondocabecera.png");   	
    background-repeat: no-repeat;     	
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
	z-index: 1;
	background-color: #F3F3F3;
}

#logo{
	position: absolute;
	top: 1px;
	left: 40px;	 
}

#formulario {
	display: flex;
    justify-content: center;
	margin-top: 160px;	
	margin-left: 50px;
}

#formulario1 {
	width: 400px;
	height: 500px;
	text-align: center;
	padding-right: 40px;
	padding-left: 60px;
	padding-top: 10px;
}

#formulario2{
	width: 400px;
	height: 500px;
	text-align: center;
}

#slider, #slider2, #slider3, #slider4, #slider5 {
	width: 80%;
	margin:0 auto;
	text-align: center;
}

#min, #max {
	width: 50px;
	text-align: center;
}

.titulo_slider{
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}

#formulario3{
	width: 520px;
	height: 500px;
	text-align: left;
	padding-left: 80px;
}

.form-control {
    width: 100% !important;
	height: 34px !important;
}

.form-control:focus {
    border-color: #f17f43 !important;
}

.oculto { /* Por defecto este div está oculto*/
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
}

input[type="radio"]:checked ~ .oculto { /* Cuando hay un radio activado se muestra el div de ese nivel*/
	opacity: 1;
	max-height: 160px;
	padding-bottom: 10px;
	-webkit-transform: scale(1);
    transform: scale(1);
	overflow: visible;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
}

.oculto.form-group>input{
	text-align: right !important;
}

table{
	margin: 0 auto;
	text-align: left; 
}

td{
	padding: 3px !important;
}

#foote {
   display: block; 
   width: 100%;
   min-height: 30px;   
   background: #163848;
   text-align: center;
   margin-top: 45px;

}

#copyright {
	position: relative;
	color: white;
	}


