#content{
	text-align: center;
}

#header {   
	/*Posicion fija en la página*/
   	position: fixed; 
    /* Centrar el div */
    right: 0;
    left: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    /* Tamaño del header */
    min-height: 150px;
    width: 100%;  
   	background-image: url("../images/fondocabecera.png");   	
    background-repeat: no-repeat;  
    opacity: 0.95;  
}

#logo{
	position: absolute;
	top: 1px;
	left: 40px;
}

#main {
	min-height: 738px;
	margin: 0px;
	padding: 0px;	 
	text-align: center;
}


video#bgvid {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: url(../images/imagenfondo.jpg) no-repeat;
	background-size: cover;	
}

#formulario {
	position: absolute;
	top: 200;
	right: 330;
	width: 250px;
	height: 400px;
	background: #f17f43;
	opacity: 0.90;
	padding: 10px;
	border-radius: 20px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;	
}
#formulario:hover{
    box-shadow: 0px 0px 10px #0d3d56;
	opacity: 1;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;	
}

 #footer {
   display: block; 
   width: 100%;
   min-height: 60px;
   border: 1px solid #eebb55;   
   background: #ffeebb;
   text-align: center;
}